version: "3.9"

services:
  tfidf-service:
    build: 
      context: ./services/tf_idf
      dockerfile: Dockerfile
    container_name: tfidf_service
    ports:
      - "8001:8001"
    volumes:
      - ./models:/app/models
    restart: always

  transformers-service:
    build: 
      context: ./services/transformers
      dockerfile: Dockerfile
    container_name: transformers_service
    ports:
      - "8002:8002"
    volumes:
      - ./models:/app/models
    restart: always

  agent-service:
    build: 
      context: ./services/agent
      dockerfile: Dockerfile
    container_name: agent_service
    ports:
      - "8000:8000"
    depends_on:
      - tfidf-service
      - transformers-service
    environment:
      - TFIDF_URL=http://tfidf-service:8001
      - TRANSFORMER_URL=http://transformers-service:8002
    restart: always

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    restart: always

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus
    volumes:
      - grafana_data:/var/lib/grafana
    restart: always

  mlflow:
    image: ghcr.io/mlflow/mlflow:v2.9.2
    container_name: mlflow
    ports:
      - "5000:5000"
    environment:
      MLFLOW_BACKEND_STORE_URI: sqlite:///mlflow.db
      MLFLOW_ARTIFACT_ROOT: /mlflow/artifacts
    volumes:
      - ./mlflow:/mlflow
    command: >
      mlflow server 
      --backend-store-uri sqlite:///mlflow.db 
      --default-artifact-root /mlflow/artifacts 
      --host 0.0.0.0

volumes:
  grafana_data:
